<form class="form-horizontal" autocomplete="off">
    <abp-modal-header [title]="'Create Work Experience' | localize" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="p-fluid p-formgrid p-grid">
            <div class="row p-col-12">
                <div class="p-field p-col-6 ">
                    <label for="name">Previous Company</label>
                    <input type="text" class="form-control p-inputtext-sm" name="previousCompany" id="previousCompany"
                        pInputText />
                </div>
                <div class="p-field p-col-6 ">
                    <label for="jobTitle">Job Title</label>
                    <p-dropdown [options]="jobTitles"></p-dropdown>
                </div>
            </div>
            <div class="row p-col-12">
                <div class="p-field p-col-12 p-md-12">
                    <label for="jobDescription">Job Description</label>
                    <textarea type="text" name="jobDescription" id="jobDescription" pInputTextarea>
              </textarea>
                </div>
            </div>
            <div class="row p-col-12">
                <div class="p-field p-col-6">
                    <label for="startDate">Start Date</label>
                    <p-calendar inputId="startDate"></p-calendar>
                </div>
                <div class="p-field p-col-6">
                    <label for="endDate">End Date</label>
                    <p-calendar inputId="endDate"></p-calendar>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>